NodeRed/Nodered.json
[{"id":"857f960.d74f468","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"37cb0bbb.f014f4","type":"openweathermap","z":"857f960.d74f468","name":"UpcomingWeatherAPI","wtype":"onecall","lon":"55.3","lat":"25.26","city":"","country":"","language":"en","x":540,"y":240,"wires":[["761e838e.20f3fc"]]},{"id":"2b3a262a.225bea","type":"debug","z":"857f960.d74f468","name":"test current time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":560,"wires":[]},{"id":"ebc81f99.6ed42","type":"debug","z":"857f960.d74f468","name":"test estimation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":280,"wires":[]},{"id":"e4721007.e5be8","type":"openweathermap","z":"857f960.d74f468","name":"CurrentWeatherAPI","wtype":"current","lon":"","lat":"","city":"Dubai","country":"AE","language":"en","x":390,"y":420,"wires":[["f5f238e6.3edf68"]]},{"id":"54a742b6.e5ee4c","type":"inject","z":"857f960.d74f468","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":520,"wires":[["e4721007.e5be8"]]},{"id":"761e838e.20f3fc","type":"function","z":"857f960.d74f468","name":"Next Four Hours","func":"msg.payload ={\n    \"h0\":{\n    \"temperature\": msg.payload.hourly[0].temp,\n    \"windSpeed\": msg.payload.hourly[0].wind_speed,\n    \"humidity\": msg.payload.hourly[0].humidity,\n    \"dt\":msg.payload.hourly[0].dt\n    },\n    \"h1\":{\n    \"temperature\": msg.payload.hourly[1].temp,\n    \"windSpeed\": msg.payload.hourly[1].wind_speed,\n    \"humidity\": msg.payload.hourly[1].humidity,\n    \"dt\":msg.payload.hourly[1].dt\n    },\n    \"h2\":{\n    \"temperature\": msg.payload.hourly[2].temp,\n    \"windSpeed\": msg.payload.hourly[2].wind_speed,\n    \"humidity\": msg.payload.hourly[2].humidity,\n    \"dt\":msg.payload.hourly[2].dt\n    },\n    \"h3\":{\n    \"temperature\": msg.payload.hourly[3].temp,\n    \"windSpeed\": msg.payload.hourly[3].wind_speed,\n    \"humidity\": msg.payload.hourly[3].humidity,\n    \"dt\":msg.payload.hourly[3].dt\n    },\n    \"h4\":{\n    \"temperature\": msg.payload.hourly[4].temp,\n    \"windSpeed\": msg.payload.hourly[4].wind_speed,\n    \"humidity\": msg.payload.hourly[4].humidity,\n    \"dt\":msg.payload.hourly[4].dt\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["ebc81f99.6ed42","a1373850.545468"]]},{"id":"b8fe1d34.d69c7","type":"mqtt in","z":"857f960.d74f468","name":"","topic":"project/bestweather","qos":"1","datatype":"auto","broker":"505c8514.ab516c","x":130,"y":680,"wires":[["73b25792.766ed8"]]},{"id":"3b9079b.b043e86","type":"mqtt out","z":"857f960.d74f468","name":"","topic":"project/bestweather","qos":"","retain":"","broker":"505c8514.ab516c","x":1400,"y":40,"wires":[]},{"id":"73b25792.766ed8","type":"debug","z":"857f960.d74f468","name":"best weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":680,"wires":[]},{"id":"30848881.ef3c98","type":"mqtt out","z":"857f960.d74f468","name":"","topic":"project/currentweather","qos":"","retain":"","broker":"505c8514.ab516c","x":1220,"y":460,"wires":[]},{"id":"7a407e73.72c16","type":"mqtt in","z":"857f960.d74f468","name":"","topic":"project/currentweather","qos":"1","datatype":"auto","broker":"505c8514.ab516c","x":120,"y":740,"wires":[["b8209fe6.10783"]]},{"id":"b8209fe6.10783","type":"debug","z":"857f960.d74f468","name":"current weather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":740,"wires":[]},{"id":"1af73db2.148332","type":"function","z":"857f960.d74f468","name":"TimerFunction","func":"var temp=msg.payload.temperature;\nvar hum=msg.payload.humidity;\nvar ws=msg.payload.windSpeed;\nvar time='';\n\nif(temp>25)\ntime=60;\nelse\ntime=120;\nif(hum>60)\ntime+=120;\nelse\ntime+=60;\nif(ws>2)\ntime-=60;\nelse\ntime-=30;\n\nmsg.payload = {\n    \"time\": time,\n}\n//msg.res= flow.get(\"response\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":580,"wires":[["78226bb6.730ea4","b45c53ad.5e0d6"]]},{"id":"78226bb6.730ea4","type":"debug","z":"857f960.d74f468","name":"test timer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":560,"wires":[]},{"id":"b45c53ad.5e0d6","type":"mqtt out","z":"857f960.d74f468","name":"","topic":"project/time","qos":"","retain":"","broker":"505c8514.ab516c","x":770,"y":640,"wires":[]},{"id":"83743a9e.9154e8","type":"mqtt in","z":"857f960.d74f468","name":"","topic":"project/time","qos":"1","datatype":"auto","broker":"505c8514.ab516c","x":150,"y":800,"wires":[["5b98466.1e343b8"]]},{"id":"5b98466.1e343b8","type":"debug","z":"857f960.d74f468","name":"time estimate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":800,"wires":[]},{"id":"a1373850.545468","type":"function","z":"857f960.d74f468","name":"Calculate Best Time","func":"var temp = [msg.payload.h0.temperature,msg.payload.h1.temperature,msg.payload.h2.temperature,msg.payload.h3.temperature,msg.payload.h4.temperature];\nvar hum  = [msg.payload.h0.humidity,msg.payload.h1.humidity,msg.payload.h2.humidity,msg.payload.h3.humidity,msg.payload.h4.humidity];\nvar wspd = [msg.payload.h0.windSpeed,msg.payload.h1.windSpeed,msg.payload.h2.windSpeed,msg.payload.h3.windSpeed,msg.payload.h4.windSpeed];\nvar time = [msg.payload.h0.dt,msg.payload.h1.dt,msg.payload.h2.dt,msg.payload.h3.dt,msg.payload.h4.dt];\n\nvar maxtemp=temp[0];\nvar minhum=hum[0];\nvar maxwspd=wspd[0];\nvar bt=0;\n\n\n for (var i=0;i<5;i++)\n    {\n        if (temp[i]>maxtemp)\n            maxtemp=temp[i]; //highest temp over the next 4 hours\n        if (hum[i]<minhum)\n            minhum=hum[i];  //lowest humidity over the next 4 hours\n        if (wspd[i]>maxwspd)        \n          {  maxwspd=wspd[i]; //highest windspeed over the next 4 hours \n             bt=i; \n          }\n     }\n\n\n\nmsg.payload ={\n    \"maxtemperature\": maxtemp,\n     \"maxwindSpeed\": maxwspd,\n     \"minhumidity\": minhum,\n      \"besttimetemp\":temp[bt],\n      \"besttimewspd\":maxwspd,\n      \"besttimehumidity\":hum[bt],\n      \"besttimetodry\":time[bt],\n      \"waitforhowmanyhours\":bt\n      \n    // \"dt\":msg.payload.time[bt].dt\n}\n\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":120,"wires":[["27df2b07.7bab54","3b9079b.b043e86"]]},{"id":"27df2b07.7bab54","type":"debug","z":"857f960.d74f468","name":"Best time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":240,"wires":[]},{"id":"f5f238e6.3edf68","type":"function","z":"857f960.d74f468","name":"CurrentTime","func":"msg.payload = {\n    \"temperature\": msg.payload.tempc,\n    \"windSpeed\": msg.payload.windspeed,\n    \"humidity\": msg.payload.humidity,\n    \"description\": msg.payload.detail,\n    \"sunrise\": msg.payload.sunrise,\n    \"sunset\": msg.payload.sunset\n}\n//msg.res= flow.get(\"response\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":420,"wires":[["2b3a262a.225bea","30848881.ef3c98","1af73db2.148332"]]},{"id":"9bca6294.32665","type":"inject","z":"857f960.d74f468","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":920,"wires":[["4252c259.930b5c"]]},{"id":"4252c259.930b5c","type":"http request","z":"857f960.d74f468","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"localhost:3000/sensors","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":820,"wires":[["ad6266ea.47f388","b67edab2.e59488"]]},{"id":"ad6266ea.47f388","type":"debug","z":"857f960.d74f468","name":"test sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":720,"wires":[]},{"id":"b67edab2.e59488","type":"mqtt out","z":"857f960.d74f468","name":"","topic":"project/sensor","qos":"","retain":"","broker":"505c8514.ab516c","x":1520,"y":860,"wires":[]},{"id":"feeb37cb.f02128","type":"mqtt in","z":"857f960.d74f468","name":"","topic":"project/sensor","qos":"2","datatype":"auto","broker":"505c8514.ab516c","x":140,"y":860,"wires":[["f671237d.d363c"]]},{"id":"f671237d.d363c","type":"debug","z":"857f960.d74f468","name":"sensor result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":860,"wires":[]},{"id":"ab136947.67df98","type":"http in","z":"857f960.d74f468","name":"Start Service","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["37cb0bbb.f014f4"]]},{"id":"44127233.9c1aac","type":"http in","z":"857f960.d74f468","name":"Start Service","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["e4721007.e5be8"]]},{"id":"bf3fb4a0.be70c8","type":"http in","z":"857f960.d74f468","name":"Start Service","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":840,"y":840,"wires":[["4252c259.930b5c"]]},{"id":"c5f6422.50301c","type":"inject","z":"857f960.d74f468","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["37cb0bbb.f014f4"]]},{"id":"505c8514.ab516c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]